.posts{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(280px, 1fr));
     gap: 30px;
  
  }
  .post{
    background: white;
    transition: transform 100ms ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .post:hover{
    transform: scale(1.05);
  }
  .post-content{
    padding: 30px;
  }
  .post img{
    max-width:  100%;
  }