.container{
  min-height: 100vh;
  background: #eee;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.button-container{
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}
.searchContainer{
  margin-bottom: 30px;
}